@model List<Repository.Models.Movie>

<div class="row table-responsive content-div p-2 my-5 rounded-2 custom-scrollbar"
    style="max-height: 400px; overflow-y: auto; overflow-x: hidden;">
    @if (Model == null || !Model.Any())
    {
        <table class="table table-hover">
            <p>No sections available.</p>
        </table>
    }

    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="Movie-id">#</th>
                    <th scope="col" class="name">Movie Name</th>
                    <th scope="col">Release Year</th>
                    <th scope="col">BoxOffice Collection</th>
                    <th scope="col">IMDB Rating</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <div>
                <tbody>
                    @foreach (var movies in Model)
                    {
                        <tr>
                            <th scope="row">@movies.Id</th>
                            <td>@movies.Name</td>
                            <td>@movies.ReleaseYear</td>
                            <td>@movies.BoxOfficeCollection</td>
                            <td>@movies.ImdbRating</td>
                            <td>
                                <div class="d-flex">
                                    <a href="#" class="mx-2 pe-auto" data-movies-id="@movies.Id" data-bs-toggle="modal"
                                        data-bs-target="#EditMovieModal">Edit</a>
                                    <a href="#" class="pe-auto" data-movies-id="@movies.Id" data-bs-toggle="modal"
                                        data-bs-target="#deleteMovieModal">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </div>
        </table>
    }
</div>